import * as React from "react"

export default class BadComponent from React.Component {
  ...
  const {posts} = this.props
  render() {
    return posts.map((post) => {
      <article>
        <header>{post.header}</header>
        <section>{post.section}</section>
        <footer>{post.footer}</footer>
      </article>
    })
  }
  ...
}